.container {
  margin-top: 5.75rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .data {
  max-width: 46rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.container .data .created {
  font-size: 0.875rem;
  color: var(--blue);
  font-weight: bold;
}

.container .data .created .quantityCreated {
  margin-left: 0.6rem;
  font-size: 0.75rem;
  color: var(--gray-200);
  background: var(--gray-400);
  padding: .1rem 0.8rem;
  border-radius: 8px;
}

.container .data .completed {
  font-size: 0.875rem;
  color: var(--purple);
  font-weight: bold;
}

.container .data .quantityCompleted {
  margin-left: 0.6rem;
  font-size: 0.75rem;
  color: var(--gray-200);
  background: var(--gray-400);
  padding: .1rem 0.8rem;
  border-radius: 8px;
}

.container .Tasks {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  width: 46rem;
  height: 15.25rem;
  color: var(--gray-300);
}

.container .Tasks .notHaveTasksText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  line-height: 1.6rem;
  text-align: center;
}

.container .Tasks .notHaveTasksText img {
  margin-bottom: 1rem;
  width: 3.5rem;
  width: 3.5rem;
}